<div class="time-picker-root">
    <div class="time-picker-trigger" (click)="toggle($event)">
        <p>{{time}}</p>
        <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M12 12l3 2" />
            <path d="M12 7v5" />
        </svg>
    </div>
    <div class="time-picker-dropdown" 
        *ngIf="open">
        <div class="list">
            <div class="item"
                (click)="hourSelect(hour, $event)" 
                *ngFor="let hour of createArr(24)">
                {{hour}}
            </div>
        </div>
        <div class="list">
            <div class="item" 
                (click)="minSelect(min, $event)"
                *ngFor="let min of createArr(60)">
                {{min}}
            </div>
        </div>
    </div>
</div>